/* Global variables. */
:root {
    --breakpoint: 800px;
    --border-radius: .8rem;
    --padding: 1rem;
    --margin: calc(var(--padding) + var(--border-radius));

    /* Animation Speeds*/
    --transition-fast: 200ms;
    --transition-slow: 400ms;

    /* Default (light) theme 44692D*/
    --bg: #ebd5c7;
    --accent: #4E604E;
    --accent-contrast: #FFFFFF;
    --contrast: #3C3CFF;

    font-family: sans-serif;
    font-size: medium;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
}

footer {
    padding-top: var(--padding);
    opacity: 0.6;
}

a {
    text-decoration: none;
}

main a, footer a {
    color: var(--contrast);
    transition: all var(--transition-fast);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

main a:hover, footer a:hover {
    background-color: var(--accent);
    color: var(--accent-contrast);
    transition: all var(--transition-fast);
}

a.external:after {
    background-color: var(--contrast);
    content: "";
    display: inline-flex;
    height: 0.7em;
    margin-left: 4px;
    -webkit-mask-image: url(/static/external.svg);
    mask-image: url(/static/external.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 0.7em;
}
a.external:hover:after {
    background-color: var(--accent-contrast);
}

main, footer {
    margin: 0px calc(var(--padding) / 2);
}

h1 {
    margin: 0 0 2rem 0;
}

code {
    font-size: large;
}

.grid {
    display: grid;
    grid-gap: var(--padding);
}

.auto-fill {
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.auto-fit {
    /*grid-template-columns: repeat(auto-fill, calc(1fr - var(--padding)));*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: var(--accent);
    border-radius: calc(var(--border-radius)*2);
    padding-bottom: calc(var(--border-radius)*2);
    color: black;
    cursor: pointer;
    height: 100%;
}

.card_image_radius_large {
    border-radius: calc(var(--border-radius)*3);
}

.card img {
    border-radius: calc(var(--border-radius)*2) calc(var(--border-radius)*2) 0px 0px;
    width: 100%;
}

.card div {
    margin: calc(var(--padding)/2);
}

.card h3 {
    margin-top: 0;
}

.no-hover-color:hover {
    background: none;
}

@media prefers-reduced-motion {
    main a, footer a, main a:hover, footer a:hover{
        transition: none;
    }
}

@media screen and (min-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr minmax(var(--breakpoint), 2.5fr) 1fr;
    }

    main, footer {
        grid-column: 2 / span 1;
        margin: 0px;
    }
}