<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ section.extra.header_title }}</title>
        <link rel="canonical" href="{{ section.permalink }}" />
        <meta property="og:url" content="{{ section.permalink }}" />
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ section.extra.header_title }}" />
        <meta property="og:site_name" content="UnicornyRainbow">
        <meta property="og:description" content="{{ section.description }}" />
        <meta property="og:image" content="/static/me.png" />
        <meta name="twitter:card" content="summary">
        <script type="application/ld+json">
            {"@context":"https://schema.org","@type":"WebSite","description":"{{ section.description }}","headline":"UnicornyRainbow","name":"{{ section.extra.header_title }}","url":"{{ section.permalink }}"}
        </script>
        <link rel="shortcut icon" type="image/png" href="/static/me.png?">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/header-style.css">
    </head>
    <body>
        <header>
            <div class="header-bar">
                <a href="/"><img class="logo" src="/static/me.png" alt="Unicorn's profile picture" title="Home"></a>
                <input type="checkbox" class="nav-toggle" id="nav-toggle">
                <h1>{{ section.title }}</h1>
                <nav>
                    <ul>
                        <li>
                            <a {% if section.extra.current=="Coding" %}class="current"{% endif %} href="/Coding">Coding</a>
                        </li>
                        <li>
                            <a {% if section.extra.current=="Photography" %}class="current"{% endif %} href="/Photography">Photography</a>
                        </li>
                        <li>
                            <a {% if section.extra.current=="Contact" %}class="current"{% endif %} href="/Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                </label>
            </div>
        </header>
        <main>
        {% block main %} {{ section.content | safe }} {% endblock %}
        </main>
        <footer>
            <hr/>
            <div class="grid auto-fill">
                <a href="/Privacy">Privacy / Datenschutzerklärung </a>
                <a href="/Licenses">Technology / Licenses</a>
                <a href="/Legal">Legal Info / Impressum</a>
            </div>
            <p>
                My profile picture is made with the <a class="external" href="https://picrew.me/image_maker/626197/" target="_blank">character maker</a> from hunbloom on <a class="external" href="https://picrew.me/search/creator?crid=953491" target="_blank">Picrew</a>. Check out their amazing art on <a class="external" href="https://www.instagram.com/hunbloom/" target="_blank">Instagram</a> and <a class="external" href="https://twitter.com/hunblooms" target="_blank">Twitter</a>.
            </p>
            <p>
                I try to make this website as accessible as possible, if you have some improvement suggestions, please <a class="external" href="https://github.com/UnicornyRainbow/Website/issues/new" target="_blank">open an issue on GitHub</a> or <a href="/Contact">contact me directly</a>.
            </p>
        </footer>
        <script src="/static/instant.js" type="module" defer></script>
    </body>
</html>