{% import "components/portfolio.html" as portfolio %}
{% extends "base.html" %}
{% block main %}
<div>
    <div class="grid auto-fill">
        {{ portfolio::card(pretty_title="Key Cutter", url="/Coding/KeyCutter", description="Easily generate passwords", image="/static/coding/key_cutter/logo.png", image_alt="Red circle with a golden key on top") }}
        {{ portfolio::card(pretty_title="Organizer", url="/Coding/Organizer", description="A Simple Kanban Board - in development", image="/static/coding/organizer/logo.png", image_alt="A stylized kanban board with a white background, light grey elements and pastel colored details") }}
        {{ portfolio::card(pretty_title="Codey", url="/Coding/Codey", description="A simple application to preview and run code files for web development", image="/static/coding/codey/logo.png", image_alt="Dark grey circle with the symbols < c / > on top, the < and > are light grey, the c is red and the / is neon green") }}
    </div>
</div>
{% endblock main %}