{% import "components/portfolio.html" as portfolio %}
{% extends "base.html" %}
{% block main %}
<div>
    <h1>Under Construction...</h1>
    <!--div class="grid auto-fill">
    {{ portfolio::card(pretty_title="Key Cutter", url="/Coding/KeyCutter", description="Easily generate passwords", image="/static/coding/key_cutter/logo.png") }}
    {{ portfolio::card(pretty_title="Organizer", url="/Coding/Organizer", description="A Simple Kanban Board - in development", image="/static/coding/organizer/logo.png") }}
    {{ portfolio::card(pretty_title="Codey", url="/Coding/Codey", description="A simple application to preview and run code files for web development", image="/static/coding/codey/logo.png") }}
    </div-->
</div>
{% endblock main %}